*{
    $mainFont:'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(../img/patron-fondo/patron-fondo.png);
    background-attachment: fixed;
}

label{
    font-size: $textLg;
}

header img{
    width: 100%;
}